main {
        background-color: blue;
        frame-padding: 80, 20;
        plot-line: red;
        plot-line-weight: 5;
}

label {
        color: black;
}

button {
        color: red;
        button-color: yellow;
}
